/* SCSS RGB */
$eerie-black: rgba(25, 23, 23, 1);
$dark-jungle-green: rgba(0, 26, 31, 1);
$blue-sapphire: rgba(45, 105, 129, 1);
$gray-sapphire: rgba(45, 105, 129, 0.4);
$black: rgba(0, 0, 0, 1);
$black-2: rgba(0, 0, 0, 1);
$maximum-red: rgba(229, 8, 20, 1);
$prussian-blue: rgba(2, 52, 107, 1);
$rich-black-fogra-29: rgba(0, 11, 12, 1);
$rosso-corsa: rgba(212, 4, 10, 1);
$white: rgba(254, 254, 254, 1);
$fond-header-pfp: rgb(90, 34, 35);
$fond-pfp: rgb(48, 20, 20);